/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
  background: rgb(245, 245, 245);
  color: rgb(99, 105, 110);
  font-size: .9em;
}

main {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

h3 {
  font-weight: 400;
  color: rgb(34, 39, 44);
  font-size: 1.2em;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name,
.main-nav li,
.main-nav a,
.section-head,
.footer-nav,
.footer-nav a {
  display: block;
  color: rgb(58, 67, 75);
  font-weight: 800;
  text-decoration: none;
}

.main-nav a {
  text-align: center;
  background: white;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 5px;
  padding: 10px 0;
  font-size: .8em;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav {
  width: 95%;
  margin: 80px auto 0;
  border-top: .5px solid rgb(231, 230, 230);
  padding: 0 5px;
}

.footer-name {
  display: inline-block;
  float: left;
}

footer p {
  margin: 30px 0;
}

.back-to-top {
  display: inline-block;
  float: right;
  font-size: .8em;
}

.bottom-nav-links {
  display: none;
}

/* ---- Layout Containers ---- */

.container {
    text-align: center;
    width: 85%;
    margin: 40px auto;
}

/* ---- Page Elements ---- */

.profile-image {
  width: 90%;
  margin: 5px 0;
}

.card img {
  width: 100%;
  margin-top: 30px;
}

.section-head {
  padding: 60px 0 20px;
  margin: 0;
  font-size: .8em;
}

.footer-bold {
  font-weight: 800;
  color: rgb(121, 129, 136);
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
.main-nav li,
.main-nav a,
.footer-nav {
  display: inline-block;
}

.main-nav a {
  text-align: center;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 5px;
  padding: 10px 30px;
  background: transparent;
}

.profile-image {
  float: right;
  width: 35%;
}
  
.intro p {
  text-align: left;
  font-size: 1.25em;
}

.container {
  width: 95%;
}

.card {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 0 1em;
}

.card p {
  width: 75%;
  display: inline-block;
  margin-top: 0;
}

main {
  clear: both;
}

#contact {
  font-size: 1.25em;
  width: 80%;
  display: inline-block;
}

.back-to-top {
  display: none;
}

.bottom-nav-links
 {
  display: inline-block;
  float: right;
}

.bottom-nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bottom-nav-links li {
  display: inline-block;
  padding-left: 25px;
  font-size: .8em;
}

.footer-name p {
  margin:0;
}

.footer-nav {
  padding: 25px 0;
}

}